.GanttChartTable {
    border: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
}

.ChartTitleTd {
    text-align: right;
    vertical-align: middle;
    border: 1px solid #aaaaaa;
    background-color: #ededed;
    padding-right: 5px;
}

#GanttChartMainTd{
    border: 1px solid #cccccc;
    line-height: none;
    clear:both;
    overflow:hidden;
}
#GanttChartMain{
    border: none;
    line-height: none;
    clear:both;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
}

.xaxisTd {
    border: none;
    font-size: 0pt;
    line-height: 0px;
    vertical-align: top;
}

.FloatChartDiv {
    position: relative;
}
.GridLineTableDiv {
    border: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    table-layout:fixed;
    word-break:break-all;
    display:block;
    width:300px;
    height:100px;
}
.GridLineTable {
    border: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    table-layout:fixed;
    word-break:break-all;
    display:block;
}

.XYGridLine {
    border-top: none;
    border-left: none;
    border-right: 1px dotted #cccccc;
    border-bottom: 1px dotted #cccccc;
    line-height: 0px;
}

.XGridLine {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dotted #cccccc;
    line-height: 0px;
}

.YGridLine {
    border-top: none;
    border-left: none;
    border-right: 1px dotted #cccccc;
    border-bottom: none;
    line-height: 0px;
}

.NoneGridLine {
    border: none;
    line-height: 0px;
}

.ScalexaxisTable {
    position:relative;
    left: 0px;
    top: 0px;
    border: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    table-layout:fixed;
    word-break:break-all;
    display:block;

}

.YScaleLine {
    border-top: none;
    border-left: none;
    border-right: 1px solid #cccccc;
    border-bottom: none;
}

.NoneScaleLine {
    border: none;
}

.ScalexaxisTextTable {
    position: relative;
    left: 0px;
    top: 0px;
    border: 0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    table-layout:fixed;
    word-break:break-all;
    display:block;
}
.ScalexaxisTextTd {
    border: none;
    text-align:center;
    vertical-align:top;
    line-height:normal;
}
.GanttChartItems {
    position:relative;
    border:1px solid #cccccc;
}
#TransparentDiv {
    border:none;
    width:100px;
    height:100px;
    line-height: none;
    clear:both;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
}
