body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    overflow: auto;
}
tr, td {
    border: none;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    overflow:hidden;
    color:black;
    /*border: 1px solid black;*/
}
ul, li, div {
    list-style-type: none;
}
.BarChartTable {
    border: none;
    border:0px;
    margin: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    overflow:hidden;
    color:black;

}
.BarChartTd {
    border:0px;
    border: none;
    height:10px;
    background-color:red;
}
.BarValue {
    border:0px;
    border: none;
    width:100px;
    text-align:left;
    vertical-align:middle;
}